<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Hacktober2021</title>
  </head>
  <body>
    <form action="" method="get">
      <label for="fname">Participant Name:</label>
      <input name="fname" type="text" id="fname"/><br/>
      <label for="uname">Create Username</label>
      <input name="uname" type="text" id="uname"/><br/>
      <label for="password">Create Password</label>
      <input name="password" type="password" id="password"/><br/>
      <label for="participant">First Time Hacktober Participant</label>
      <button type="button" onclick="alert('yayyy good luck')">Yes</button>
      <button type="button" onclick="alert('nayyy go try')">No</button>
    </form>
  </body>
</html>
