<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="Vendors/Styles/normalize.css" />
    <link rel="stylesheet" href="Resources/Styles/styles.css" />
    <link rel="stylesheet" href="Resources/Styles/queries.css" />
    <script defer src="Resources/JS/script.js"></script>
    <title>PHOTO SAMPLE</title>
  </head>
  <body>
    <!-- HEADER -->
    <header id="home">
      <nav>
        <a href="#home" class="logo-link"
          ><img class="logo" src="Vendors/Icons/010-camera.png" alt="LOGO"
        /></a>
        <button class="nav-mobile">
          <img src="Vendors/Icons/008-nav-icon.png" />
        </button>
        <ul class="nav-links">
          <li><a class="nav-link" href="#home">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#work">Work</a></li>
          <li><a class="nav-link" href="#contact">Contact us</a></li>
        </ul>
      </nav>
      <div class="headings">
        <h1>WE CAPTURE<br />ELEGANCE.</h1>
        <h4>Travel Street Nature Beauty</h4>
      </div>
    </header>
    <!-- SECTION -->
    <!-- <section id="#">
      <h2></h2>
      <div class="section-box">
        <div class="section-content">
          <h3></h3>
          <p></p>
        </div>
        <img src="Vendors/Images/" alt="" />
      </div>
    </section> -->
    <section id="work">
      <h2>Our Clicks</h2>
      <div class="grid-container">
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1549216714-12599d3fa0e8?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1514178593597-9c5fc8519127?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDd8RnpvM3p1T0hONnd8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card card-wide"
          style="
            background-image: url('https://images.unsplash.com/photo-1508356668755-c733d269226d?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDh8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1622601330024-d8f9063a5b90?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8RnpvM3p1T0hONnd8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card card-wide"
          style="
            background-image: url('https://images.unsplash.com/photo-1617539844906-9dbbd3fbfbf3?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEzfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1536957604029-6779ab858551?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8RnpvM3p1T0hONnd8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card card-wide"
          style="
            background-image: url('https://images.unsplash.com/photo-1623936174855-af0b96a7b035?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM2fHhIeFlUTUhMZ09jfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1503899036084-c55cdd92da26?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8eEh4WVRNSExnT2N8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1491884592576-38221bd4314a?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8eEh4WVRNSExnT2N8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1624281746063-f092f987709a?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8aG1lbnZRaFVteE18fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card card-wide"
          style="
            background-image: url('https://images.unsplash.com/photo-1534460396583-64f50cc94eeb?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8RnpvM3p1T0hONnd8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
        <div
          class="card"
          style="
            background-image: url('https://images.unsplash.com/photo-1624281776944-16579505186b?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8aG1lbnZRaFVteE18fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
          "
        ></div>
      </div>
    </section>
    <section id="about">
      <h2>About Us</h2>
        <p>
          Photography is the art, application, and practice of creating durable
          images by recording light, either electronically by means of an image
          sensor, or chemically by means of a light-sensitive material such as
          photographic film. It is employed in many fields of science,
          manufacturing (e.g., photolithography), and business, as well as its
          more direct uses for art, film and video production, recreational
          purposes, hobby, and mass communication.[1] Typically, a lens is used
          to focus the light reflected or emitted from objects into a real image
          on the light-sensitive surface inside a camera during a timed
          exposure.
        </p>
      </div>
    </section>
    <footer id="contact">
      <div class="social-links">
        <ul>
          <li>
            <a href="#" target="_blank"
              ><img src="Vendors/Icons/001-instagram.png" alt="Instagram"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="Vendors/Icons/002-twitter.png" alt="Twitter"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="Vendors/Icons/003-linkedin.png" alt="Linkedin"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="Vendors/Icons/005-gmail.png" alt="G-Mail"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img src="Vendors/Icons/004-youtube.png" alt="YouTube"
            /></a>
          </li>
        </ul>
        <p>
          &copy;This is a basic template designed by
          <span><a href="#">Kishor Balgi</a></span>
        </p>
      </div>
    </footer>
  </body>
</html>
