<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="nav-style.css" />
    <script src="https://kit.fontawesome.com/b0e6ee6b91.js" crossorigin="anonymous"></script>
    <title>Zoomcar</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4>Zoomcar</h4>
      </div>
      <ul class="nav-links">
        <li><a href="#">OFFERS</a></li>
        <li><a href="#">SUBSCRIPTION</a></li>
        <li><a href="#">AMIGO</a></li>
        <li><a href="#">ZMS</a></li>
        <li><a href="#">MOBILE APP</a></li>
        <li><a href="#">SIGNUP/LOGIN</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <div class="mid">
      <img class="mid-img" src="./zoom1.jpg" alt="" />
      <div class="mid-text">
        <div class="mid-text-top">DRIVE IN A SANITISED ZOOMCAR</div>
        <div class="mid-text-mid-main">
          <div class="mid-text-mid">
            Self Drive Car Rental in
            <select name="city" id="city">
              <option value="Delhi">Delhi</option>
              <option value="Delhi">Mumbai</option>
              <option value="Delhi">Bangluru</option>
              <option value="Delhi">pune</option>
            </select>
          </div>
        </div>
        <input
          class="mid-input"
          type="text"
          placeholder="Start your wonderful journey"
        />
      </div>
    </div>
    <div class="mid-2">
      <div class="mid-2-head-1">THE ZOOMCAR ADVANTAGE</div>
      <div class="mid-2-head-2">
        We simplified car rentals, so you can fo cus on what's important to you.
      </div>
      <div class="mid-2-data-1">
        <div class="mid-2-data-1-block">
          <h3>Fuel Cost Included</h3>
          <p>
            Don't worry about mileage! All fuel costs are included. If you
            refill fuel, we'll pay you back!
          </p>
        </div>
        <div class="mid-2-data-1-block">
          <h3>No Hidden Charges</h3>
          <p>
            Our prices include taxes and insurance. What you see is what you
            really pay!
          </p>
        </div>
        <div class="mid-2-data-1-block">
          <h3>Flexi Pricing Packages</h3>
          <p>
            One size never fits all! Choose a balance of time and kilometers
            that works best for you.
          </p>
        </div>
      </div>
      <div class="mid-2-data-2">
        <div class="mid-2-data-1-block">
          <h3>Go Anywhere</h3>
          <p>
            Our cars have all-India permits.Just remember to pay state tolls and
            entry taxes
          </p>
        </div>
        <div class="mid-2-data-1-block">
          <h3>24x7 Roadside Assistance</h3>
          <p>
            We have round-the-clock, pan India partners. Help is never far away
            from you.
          </p>
        </div>
        <div class="mid-2-data-1-block">
          <h3>Damage Insurance</h3>
          <p>
            All your bookings include damage insurance! Drive safe, but don’t
            worry!
          </p>
        </div>
      </div>
    </div>
    <div class="mid-3">
      <div class="mid-3-top">
        <h3>SUPERMILER CLUB</h3>
        <p>Premium club which rewards you everytime you drive with us</p>
        <h4>SUPERMILER PRIVILEGES</h4>
      </div>
      <div class="mid-3-bottom">
        <div class="mid-3-bottom-z">EARN Z POINTS</div>
        <div class="mid-3-bottom-z-about">
          Earn Z-Points for every booking and redeem for additional discount
        </div>
        <div class="mid-3-button">LEARN MORE</div>
        <div class="mid-3-bottom-car-sec">
          <h4>A CAR FOR EVERY NEED</h4>
          <h3>
            We have a range of cars, so something will perfectly fit your trip
          </h3>
          <div class="mid-3-bottom-car-sec-main">
            <img src="./zoom-2.png" alt="" />
            <div class="mid-3-bottom-car-sec-main-content">
              <h1>HATCHBACK</h1>
              <h3>Price Starting at Rupees 70/hr (Fuel Free)</h3>
            </div>
          </div>
          <div class="mid-3-bottom-pre-last">
            <h2>HOW ZOOM CAR WORKS</h2>
            <p>Drive yourself to an adventure and back in 5 simple steps</p>
          </div>
          <div class="mid-3-bottom-last-blocks">
            <div class="mid-3-bottom-last-block">
              <img src="./zoom-book.svg" alt="" />
              <h4>BOOK</h4>
              <div class="block-text">
                Search for and book a car on our site!
              </div>
            </div>
            <div class="mid-3-bottom-last-block">
              <img class="lic" src="./zoom-lic.svg" alt="" />
              <h4>UPLOAD LICENSE</h4>
              <div class="block-text">
                Upload your driver’s license, and pay a small security deposit
              </div>
            </div>
            <div class="mid-3-bottom-last-block">
              <img src="./zoom-un.png" alt="" />
              <h4>UNLOCK</h4>
              <div class="block-text">
                We SMS your car details 20 minutes before pickup.Unlock it via
                the Zoomcar app.
              </div>
            </div>
            <div class="mid-3-bottom-last-block">
              <img class="zoom" src="./zoom-zoom.svg" alt="" />
              <h4>ZOOM</h4>
              <div class="block-text">
                Fill the start checklist in the Zoomcar app. Grab the keys from
                the glove-box and drive.
              </div>
            </div>
            <div class="mid-3-bottom-last-block">
              <img src="./zoom-return.svg" class="return" alt="" />
              <h4>RETURN</h4>
              <div class="block-text">
                Return the car to the same location and fill the end checklist
                to end your trip.
              </div>
            </div>
          </div>
          <div class="sign-up">SIGN UP</div>
        </div>
      </div>
    </div>
    <div class="mid-4">
      <img src="./zoom-3.jpg" alt="" />
      <div class="mid-4-text">
        <h3>ZOOM ON THE GO</h3>
        <h4>
          Make a booking, unlock your car, and end your reservation all from our
          app
        </h4>
      </div>
      <div class="mid-4-buttons">
        <div class="mid-4-button">Download from Play Store</div>
        <div class="mid-4-button">Download from App Store</div>
      </div>
    </div>
    <div class="mid-5">
      <img src="./zoom-4.jpg" alt="" />
      <span class="mid-5-quote">
        At the outset, let me thank you for introducing Zoomcar in Bangalore
        and for giving me an opportunity to use your service. Your customer
        support was impeccable and vehicle was well-maintained and top-notch.
      </span>
      <sapn class="mid-5-aut">- D. Samuel</sapn>
    </div>
    <div class="mid-6">
      <div class="mid-6-block">How zoomcar works</div>
      <div class="mid-6-block">Policies</div>
      <div class="mid-6-block">Help Support</div>
      <div class="mid-6-block">Zoom in Safety</div>
    </div>

    <div class="footer">
      <h5>About Us</h5>
      <div class="footer-main">
        <div class="footer-left">
          <div class="footer-left-1">
            <ul>
              <li><a href="#">Zoomcar Team</a></li>
              <li><a href="#">Location & Cars</a></li>
            </ul>
          </div>
          <div class="footer-left-2">
            <ul>
              <li><a href="#">Zoomcar Subscription</a></li>
              <li><a href="#">Self Drive Cars</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-right-1">
            <ul>
              <li><a href="#">Zoomcar Blog</a></li>
              <li><a href="#">Invest via OurCrowd</a></li>
            </ul>
          </div>
          <div class="footer-right-2">
            <ul>
              <li><a href="#">Careers @Zoomcar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <h5>Cities</h5>
      <div class="footer-main">
        <div class="footer-left">
          <div class="footer-left-1">
            <ul>
              <li><a href="#">Self drive cars in Bangalore</a></li>
              <li><a href="#">Self drive cars in Chennai</a></li>
              <li><a href="#">Self drive cars in Ahmedabad</a></li>
              <li><a href="#">Self drive cars in Ludhiana</a></li>
            </ul>
          </div>
          <div class="footer-left-2">
            <ul>
              <li><a href="#">Self drive cars in Pune</a></li>
              <li><a href="#">Self drive cars in Hyderabad</a></li>
              <li><a href="#">Self drive cars in Coimbatore</a></li>
              <li><a href="#">Self drive cars in Mangalore</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-right-1">
            <ul>
              <li><a href="#">Self drive cars in Delhi</a></li>
              <li><a href="#">Self drive cars in Chandigarh</a></li>
              <li><a href="#">Self drive cars in Indore</a></li>
              <li><a href="#">Self drive cars in Mysore</a></li>
            </ul>
          </div>
          <div class="footer-right-2">
            <ul>
              <li><a href="#">Self drive cars in Mumbai</a></li>
              <li><a href="#">Self drive cars in Kolkata</a></li>
              <li><a href="#">Self drive cars in Jaipur</a></li>
              <li><a href="#">Self drive cars in Vizag</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mid-7">
      <div class="mid-7-text">Let's Keep in Touch</div>
      <div class="mid-7-address">7th Floor, Tower-B, Diamond Dis
        trict, 150, HAL Airport Road, Kodih
        alli, Bangalore – 560008</div>
        <div class="mid-7-icons">
          <ul>
            <li><i class="fab fa-facebook-f"></i></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-youtube"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
        <div class="mid-7-copyright">
          © Copyright 2017 Zoomcar India Private Ltd. All rights reserved.
        </div>
    </div>
    <div class="mid-8">
      <div class="mid-8-content">
        <h3>LOOKING FOR SELF DRIVE CARS IN BANGALORE?</h3>
        <p>Bangalore being a burgeoning
           cosmopolitan city is witnessing 
           a shift in culture. With youngsters now being able
            to establish an equal focus on work and leisure frequent
             road trips have now become a norm. In addition to this,
              the added pleasure of a self-driving has given rise in
               the demand for, self-drive car rentals which has 
               emerged 
          as the answer to many of their prayers.</p>
          <h3>HOW MUCH DOES IT COST TO RENT A CAR FOR A DAY?</h3>
          <p>If want to rent one out a s
            elf-drive car, choose Zoomcar, whe
            re you can pick out your self-drive car ba
            sed on your travelling needs. While small s
            elf-drive cars allow you to easily manoeuvre t
            hrough city traffic, sedans and SUV’s offer more 
            comfort. Affordable prices starting at 60/hr help
            s you rent a car easily. Whether you want to go on a roa
            d trip from Bangalore to Coorg or just need a car to travel 
            within the city the self-drive Zoomcar are yo
            ur best solution. All Self-drive Zoomcar comes with a li
            mited liability, enabling you to enjoy the comfort of a 
            four-wheeler without having to invest in one, with the a
            dded benefit of not having to actually drive it. The Sel
            f-drive Zoomcar have even made travel to and from the ai
            rport easy. Avoid exorbitantly priced Bangalore airport 
            cabs by choosing to travel in a Zoomcar instead. The Ban
            galore airport even has a Zoomcar parking lot where you can get a self-drive car rental as soon as you get off your flight, thus eliminating the time taken t
            o look for a cab or hire one.</p>
            <h3>WHAT STATES ALLOW SELF DRIVING CARS?</h3>
            <p>Drive seamlessly:
              Our Self-Drive cars come with all India permits, Road-Side Assistance (RSA), vehicle insurance and provision of multiple parking sites across the city. <br>
              <br>
              Book Through the App:
              No matter how long you need our Self Drive cars for you can conveniently hire a Self-Drive car online in Bangalore through the Zoomcar app. <br>
              <br>
              Array of services:
              Enjoy tech-enabled booking, tracking and hassle-free payment options too. Make every special occasion memorable by opting to ride in a luxury self-drive car yourself. You could opt for it just for the sheer pleasure and experience too!</p>
              <h3>STEPS FOR SELF DRIVE CAR BOOKING IN BANGALORE</h3>
              <p class="mid-8-para">Drive across the city hassle free with a self-drive car from Zoomcar in the following steps:</p>
              <ul>
                <li>Download the Zoomcar App from the Play Store or the App Store.</li>
                <li>Search for a car from the wide range available and book a self-drive car of your choice</li>
                <li>Upload License and pay a small security deposit</li>
                <li>Car details will be sent on SMS 20mins before pickup. Unlock it via the Zoomcar App</li>
                <li>Fill the start checklist in the Zoomcar App. Grab the keys from the glove box and zoom away
                  After the trip, return the car and fill the end checklist from the App to end your trip. We refund your deposit if applicable
                  Book, Drive, Repeat. Zoom On.</li>
              </ul>
          </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
