<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b0e6ee6b91.js" crossorigin="anonymous"></script>
    <title>Portfolio Website</title>
</head>
<body>
    <!-- Add proper links everywhere in your project -->
    <div class="nav">
        <div class="nav-left">{Dev_loper}</div>
        <div class="nav-right">
            <div class="nav-right-opt"><a href="#">Home</a></div>
            <div class="nav-right-opt"><a href="#">About</a></div>
            <div class="nav-right-opt"><a href="#">Contact</a></div>
        </div>
    </div>
    <div class="body">
        <div class="body-text">
            <div class="body-text-line-1">
                <!-- Add your name -->
                <div class="pink">Hi, Im ________ </div><br>
                bring your ideas to life with me
            </div> 
            <div class="body-text-line-2">
                Multidisciplinary developer who makes and occasionally breaks things.                
            </div>
            <div class="box-1"></div>
            <div class="box-2"></div>
            <div class="box-3"></div>
        </div>
        <div class="body-links">
            <div class="body-link"><i class="fab faba fa-linkedin-in lin"></i></div>
            <div class="body-link"><i class="fab faba fa-github git"></i></div>
            <div class="body-link"><i class="fab faba fa-instagram int"></i></div>
        </div>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <div class="skills-logo">
            <i class="fab faba-2 fa-html5"></i>
            <i class="fab faba-2 fa-css3-alt"></i>
            <i class="fab faba-2 fa-js"></i>
            <i class="fab faba-2 fa-node-js"></i>
        </div>
        <div class="skills-logo">
            <i class="fab faba-2 fa-react"></i>
            <i class="fas faba-2 fa-database"></i>
            <i class="fab faba-2 fa-git-alt"></i>
            <i class="fab faba-2 fa-github fa-github-2"></i>
        </div>
    </div>
    <div class="projects">
        <h2>PROJECTS</h2>
        <div class="project-view">
            <div class="project-view-1">
                <!-- In img tag add screenshot of your project -->
                <img src="project-img.jpg" alt="">
                <p>About Project</p>
                <a href="#">Link</a>
            </div>
            <div class="project-view-1">
                <img src="project-img.jpg" alt="">
                <p>About Project</p>
                <a href="#">Link</a>
            </div>
        </div>
        <div class="project-view">
            <div class="project-view-1">
                <img src="project-img.jpg" alt="">
                <p>About Project</p>
                <a href="#">Link</a>
            </div>
            <div class="project-view-1">
                <img src="project-img.jpg" alt="">
                <p>About Project</p>
                <a href="#">Link</a>
            </div>
        </div>
        <div class="project-view project-end">
            <div class="project-view-1">
                <img src="project-img.jpg" alt="">
                <p>About Project</p>
                <a href="#">Link</a>
            </div>
            <div class="project-view-1">
                <img src="project-img.jpg" alt="">
                <p>About Project</p>
                <a href="#">Link</a>
            </div>
        </div>
    </div>

    <div class="email-tag">
        <h3>In case of any query contact me at</h3>
        <!-- Add Your Email here -->
        <button><a href="malito:abc@gmail.com">Send Email</a></button>
    </div>
</body>
</html>