<!doctype html>

<html>
	<head>
		<title> Transparent Login form </title>
		<link rel="stylesheet" href="style.css">
	

	</head>
	<body>
	<div class="loginBox">
		
		<img src="user.png" class="user">
		<h2>Log In Here</h2>
		<form>
			<p>Email</p>
			<input type="text" name = "" placeholder="Enter Email">
			<p>Password</p>
			<input type="password" name = "" placeholder="Enter Password">
			<input type="submit" name = "" value="sign In">
			<a href="#"> Forget Password</a> 
			
		</form>
	</div>
	</body>
</html>